
         header .nav-alt{
             background-color: #0982c7;
         }
         .not-bell{
             background: rgba(32, 49, 66, 0.52);
         }
         .card{
             background-color: transparent !important;
             border: none;
         }
         .not-bell::after{
             background-color: #F7A822 !important;
             height: 25%;
             width: 25%;
         }
         #search {
            background-color: rgba(32, 49, 66, 0.52);
             color: #fff;
         }
        .nav-soc-link .not-bell{
           padding: 8px !important;
         }
         .nav-alt  img{
             width: 100%;
             height: 100%;
         }
         .nav-alt #search{
             padding: 5px;
             border-radius: 10px;
             border: none;
             
         }
         header::before, header::after{
             display: none;
         }
         header{
             background: transparent;
         }
         .wrapper{
             background-color: #0982c7;
         }
         .buy{
             display: flex;
             justify-content: center;
             align-items: center;
         }
         main{display: block;
            padding: 20px 0;
        }
        .footer-top{
            display: block !important;
        }
         
      
        section .buy{
           display: block;
           width: 200px;
           margin: 0 auto;
            padding: 10px 20px;
            background-color: #F7A822;
            border-radius: 15px;
            color: #fff;
            text-decoration: none;
            margin: 20px 0;
            text-align: center;
        }
        section{
            position: relative;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: translateX(50px);
}
.move-right{
    transform: translateX(100px);
}
       
        .logo-text{
            transform: translateX(-50px);
        }
        @media screen and (max-width:750px){
            .move-right{
                transform: translateX(70px);
            }
        }
         @media screen and (max-width:520px){
            .logo-text{
            transform: translateX(-50px);
        }
             .not-bell, .icon-div{
                 width: 30px;
                 height: 30px;
             }
             .move-right{
                transform: translateX(50px);
            }
         
         }
    