*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 5px 40px;
}
li{
    list-style: none;
}
header{
padding: 30px 5px;
background-image: url('/assets/images/header-bg.svg');
background-repeat: no-repeat;
background-size: contain;
background-position: top right;
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
width: 100px;
height: 100px;
}
.logo img{
width: 100%;
height: 100%;
}
.browse-nav{
padding: 0px 60px;
display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid rgba(129,129,129,.2);
border-bottom: 1px solid rgba(129,129,129,.2);
}
.burger{
display: block;
cursor: pointer;
margin-right: 10px;
transform: translateX(-20px);

}
.burger span{
display: block;
height: 3px;
width: 25px;
background-color: rgb(255, 255, 255);
}
.burger span:nth-child(2){
margin: 3px 0;
}
.browse-nav .browse-cat{
display: flex;
align-items: center;
margin-left: 0;
background-color: #83b735;
padding: 15px 52px;
color: #fff;
}
.browse-nav .browse-cat p{
margin: 0;
}
.browse-nav ul{
margin: 0;
padding: 0;
display: flex;
align-items: center;
}
.browse-nav li{
display: inline-block;
margin: 0 10px;
cursor: pointer;
font-size: 14px;
}
.browse-nav li.active{
color: #83b735;
}
.browse-nav-area{
position: relative;
}
header .rightNav{
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 16px;
}
header .rightNav li{
margin: 0 20px;
}

.harmburger{
display: none;
}

header .nav-alt{
width: 300px;
height: 100vh;
position: fixed;
z-index: 10;
top: 0;
left: 0;
background-color: #EE6624;
/* display: none; */
transform: translateX(-500px);
transition: all 0.4s ease-in;
}


.dropdowns-column{
position: fixed;
top: 20px;
left: 0;
/* background-color: rgb(255, 255, 255); */
height: 100vh;
width: 100% ;
}
.dropdowns-column ul{
padding: 0 10px;
position: absolute;
top: 0;
left: 0;
display: none;
width: 100%;
}
.dropdowns-column li{
padding: 10px 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.459);
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
padding: 10px;
border-bottom: 2px solid rgba(255, 255, 255, 0.34);
}
.dropdowns-column li a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.search-category {
display: flex;
justify-content: space-between;
align-items: center;
}
.search-category li{
margin: 0 20px;
}
.show-drop{
display: block !important;
}

/* //banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 50px;
}
.banner article h2 {
    line-height: 50px;
}
.banner article h2 span{
    display: block;
    font-size: 50px;
  
}
.banner aside{
    width: 450px;
    height: 500px;
}
.banner aside img{
    width: 100%;
    height: 100%;
}
.explore{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #EE6624;
    display: inline-block;
    margin-top: 35px;
    position: relative;
}
.explore::after{
    display: inline-block;
    content: '';
    background-color: #e05008;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 0.25s ease-in;
    opacity:1;
    z-index: -2;
}
.explore:hover::after{
  transform: scaleX(1.2);
  opacity: 0;
}

.scroll-down{
    padding: 20px;
    position: relative;
  width: 95vw;
  text-align: center;
  margin-top: 20px;

}
.scroll-down img{
    /* transform: rotate(-180deg); */
    position: absolute;
    
}
.scroll-down img:nth-child(1){
    transform: translateY(10px);
    z-index: 1;
}
@media screen and (max-width:1110px){
    .banner{
        padding: 10px;
    }
.container{
padding: 0;
}
header{
 padding: 5px 0;
}
header nav{
 align-items: center;
 justify-content: space-between;
 padding: 0 10px;
}
header nav .search-category{
 display: none;
}
header nav .rightNav li{
 display: none;
}
header nav .rightNav li.cart{
 display: block;
}
.harmburger{
 display: block;
 cursor: pointer;
 transform: translateY(-7px);
 transition: all 0.4s ease-in;
}
.harmburger.roll{
 transform: translate(200px);
 background-color: #ffffff;
 padding: 10px;
 border-radius: 20px 5px;
 z-index: 15;
}
.harmburger.roll span{
    background-color: #EE6624;
    border-radius: 5px;
}
.harmburger span{
 display: block;
 height: 3px;
 width: 30px;
 background-color: #000;
}
.harmburger span:nth-child(2){
margin: 3px 0;
width: 20px;
}
header .nav-alt.slide-left{
transform: translate(0);
overflow-x: hidden;
}
}

@media screen and (max-width:770px){
    .banner aside{
        margin: 0px auto;
        max-width: 300px;
        max-height: 300px;
        transform: scaleX(-1);
    }
    .banner{
        display: block;
        text-align: center;
    }
    .banner article{
        margin: 15px 0;
    }
    .banner article h2{
        line-height: 25px;
    }
    .banner article h2 span{
        font-size: 30px;
    }
}
