*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 5px 40px;
}
.img-oval{
    position: absolute;
    right: 20%;
    top: 15%;
    width: 150px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
li{
    list-style: none;
}
header{
padding: 30px 5px;
background-image: url('/assets/images/header-bg.svg');
background-repeat: no-repeat;
background-size: contain;
background-position: top right;
position: relative;
}
header::after{
    content: url('/assets/images/oval shape.svg');
    position: absolute;
    right: 12%;
    bottom: 25%;
    z-index: -1;
}
header::before{
    content: url('/assets/images/oval shape.svg');
    position: absolute;
    right: 14%;
    top: 1%;
    z-index: -1;
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
width: 100px;
height: 100px;
}
.logo img{
width: 100%;
height: 100%;
}
.browse-nav{
padding: 0px 60px;
display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid rgba(129,129,129,.2);
border-bottom: 1px solid rgba(129,129,129,.2);
}
.burger{
display: block;
cursor: pointer;
margin-right: 10px;
transform: translateX(-20px);

}
.burger span{
display: block;
height: 3px;
width: 25px;
background-color: rgb(255, 255, 255);
}
.burger span:nth-child(2){
margin: 3px 0;
}
.browse-nav .browse-cat{
display: flex;
align-items: center;
margin-left: 0;
background-color: #83b735;
padding: 15px 52px;
color: #fff;
}
.browse-nav .browse-cat p{
margin: 0;
}
.browse-nav ul{
margin: 0;
padding: 0;
display: flex;
align-items: center;
}
.nav-soc-link{
    display: flex !important;
    position: static !important;
    padding: 0 !important;
    margin: 0 !important;
    justify-content: space-between;
}
.nav-soc-link li{
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.browse-nav li{
display: inline-block;
margin: 0 10px;
cursor: pointer;
font-size: 14px;
}
.browse-nav li.active{
color: #83b735;
}
.browse-nav-area{
position: relative;
}
header .rightNav{
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 16px;
}
header .rightNav li{
margin: 0 20px;
}

.harmburger{
display: none;
}

header .nav-alt{
width: 300px;
height: 100vh;
position: fixed;
z-index: 10;
top: 0;
left: 0;
background-color: #EE6624;
/* display: none; */
transform: translateX(-500px);
transition: all 0.4s ease-in;
}


.dropdowns-column{
position: fixed;
top: 20px;
left: 0;
/* background-color: rgb(255, 255, 255); */
height: 100vh;
width: 100% ;
}
.dropdowns-column ul{
padding: 0 10px;
position: absolute;
top: 0;
left: 0;
display: none;
width: 100%;
}
.dropdowns-column li{
padding: 10px 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.459);
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
padding: 10px;
border-bottom: 2px solid rgba(255, 255, 255, 0.34);
}
.dropdowns-column li a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.search-category {
display: flex;
justify-content: space-between;
align-items: center;
}
.search-category li{
margin: 0 20px;
}
.show-drop{
display: block !important;
}

/* //banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 50px;
}
.banner article h2 {
    line-height: 50px;
}
.banner article h2 span{
    display: block;
    font-size: 50px;
  
}
.banner aside{
    width: 450px;
    height: 500px;
}
.banner aside img{
    width: 100%;
    height: 100%;
}
.explore{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #EE6624;
    display: inline-block;
    margin-top: 35px;
    position: relative;
}
.explore::after{
    display: inline-block;
    content: '';
    background-color: #e05008;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 0.25s ease-in;
    opacity:1;
    z-index: -2;
}
.explore:hover::after{
  transform: scaleX(1.2);
  opacity: 0;
}

 .scroll-down{
   position: relative;
  text-align: center;
  margin: 20px 0;

}
.scroll-down img:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    margin-top: 5px;
}

/* Video Section */
.video-section{
    margin: 10px;
}
.video-section-info h3{
    text-align: center;
}
p.shade{
    color: #999;
    text-align: center;
}
.video-div {
    position: relative;
    height: 600px;
    padding: 50px;
    min-height: 200px;
}
.video-div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.img-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px !important;
    height: 150px !important;
    object-fit: fill !important;
}

/* About Section */
.about-us{
    background-image: url('/assets/images/about-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    position: relative;
    margin: 20px 0;
    }
    .about-us::before{
        content: url('/assets/images/oval shape.svg');
        position: absolute;
        left: 30%;
        top: 25%;
        z-index: -1;
    }
    .about-us::after{
        content: url('/assets/images/oval shape.svg');
        position: absolute;
       left: 20%;
        bottom: 0;
        z-index: -1;
    }
.about-us h3{
    text-align: center;
}
.about-us article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */
    padding: 0 50px;
}
/* Selling section */
.feature-image {
    width: 300px;
    height: 250px;
}
.selling article{
    margin: 0px 20px;
    cursor: pointer;
}
.img-fluid{
    height: 100%;
    width: 100%;
}
.item-name, .selling h2{
    text-align: center;
    font-weight: 600;
}
.sell-slides section{
    display: flex;
}
.categ-texts{
    margin: 30px 0;
}
.selling {
   text-align: center;
}

/* Customer review */
.customer-review{
    padding: 40px;
    background-color: #EE6624;
    margin: 40px 0 0 0;
    text-align: center;
}

.customer-review-heading {
    margin: 20px;
}
.customer-review .shade{
    color: #fff;
    font-size: 14px;
}

.customer-review-heading h3{
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}
.slide-review{
    flex: 1;
    display: flex;
}

.slide-review article {
    padding: 30px;
    width: 500px; 
    margin: 0 15px;
    /* overflow: hidden; */
    position: relative;
    z-index: 1;
}
.slide-review article div{
    transform: translateY(-5px);
}
.slide-review article h4{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.slide-review article p{
 font-size: 12px;
}
.card-img{
    width: 500px;
    height: 200px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.testimony-det{
    width: 500px;
    margin: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimony-det div:nth-child(2){
    margin-left: 10px;
    text-align: initial;
}
.testimony-det p{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 5px;
}
.testimony-det small{
    font-size: 10px;
}
footer {
    background-color: #0B0D17;
    color: #fff;
    padding: 20px 60px;
    text-align: center;
}
footer li{
    margin: 0 15px;
}
footer a{
    color: #fff;
    text-decoration: none;
}
.footer-top{
    padding: 20px 0;
}
.footer-links{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-social{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.copy-right{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1110px){
    .banner{
        padding: 10px;
    }
.container{
padding: 0;
}
header{
 padding: 5px 0;
}
header nav{
 align-items: center;
 justify-content: space-between;
 padding: 0 10px;
}
header nav .search-category{
 display: none;
}
header nav .rightNav li{
 display: none;
}
header nav .rightNav li.cart{
 display: block;
}
.harmburger{
 display: block;
 cursor: pointer;
 transform: translateY(-7px);
 transition: all 0.4s ease-in;
}
.harmburger.roll{
 transform: translate(200px);
 background-color: #ffffff;
 padding: 10px;
 border-radius: 20px 5px;
 z-index: 15;
}
.harmburger.roll span{
    background-color: #EE6624;
    border-radius: 5px;
}
.harmburger span{
 display: block;
 height: 3px;
 width: 30px;
 background-color: #000;
}
.harmburger span:nth-child(2){
margin: 3px 0;
width: 20px;
}
header .nav-alt.slide-left{
transform: translate(0);
overflow-x: hidden;
}
.about-us article{
    padding: 0;
    display: block;
    text-align: center;
}
.about-img{
    width: auto;
}
.about-img img{
    width: 100%;
}
.about-text{
    padding: 10px;
}
.about-us::before{
    content: url('/assets/images/oval shape.svg');
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: -1;
}
.about-us::after{
   
   left: 30%;
}
}
@media screen and (max-width:1060px){
    .slide-review{
       width: 600px;
       margin: 0 auto;
    }
}
@media screen and (max-width:770px){
    .slide-review{
        width: auto;
     }
    .banner aside{
        margin: 0px auto;
        max-width: 300px;
        max-height: 300px;
        transform: scaleX(-1);
    }
    .banner{
        display: block;
        text-align: center;
    }
    .banner article{
        margin: 15px 0;
    }
    .banner article h2{
        line-height: 25px;
    }
    .banner article h2 span{
        font-size: 30px;
    }

    p.shade{
        font-size: 12px;
    }
    .scroll-down img{
        width: 30px;
    }
    .video-div {
        height: auto;
        width: auto;
        padding: 10px;
        margin-top: 10px;
    }
    .video-div img{
        border-radius: 15px;
    }
    .img-play{
        width: auto !important;
        height: auto !important;
    }
    .img-oval{
        right: 35%;
        top: 5%;
        width: auto;
    }
    header::after{
        content: url('/assets/images/oval shape.svg');
        position: absolute;
        right: 15%;
        bottom: 15%;
        z-index: -1;
    }
    header::before{
        content: url('/assets/images/oval shape.svg');
        position: absolute;
        right: 20%;
        top: 10%;
        z-index: 1;
    }
    .footer-links{
        display: block;
    }
    .footer-links li{
        margin: 15px 0;
    }
    
}

@media screen and (max-width:600px){
    .customer-review-heading h3{
        font-size: 20px;
    }
    .customer-review{
        padding: 10px 0;
        overflow: hidden !important;
    }
    .customer-review .shade{
        font-size: 12px;
    }
    .testimony-det{
        width: auto;
    }
    .card-img{
        display: none !important;
        overflow: hidden;
    }
    .slide-review article{
        padding: 30px 10px;
        width: auto;
       margin: 0 15px;
       background-color: #fff;
       border-radius: 10px;
    }
    .copy-right{
        flex-direction: column-reverse;
    }
    .copy-right .footer-social{
        margin: 10px 0;
    }
    footer{
        padding: 20px 5px;
    }
}